#include "c:\pbdll60\winapi\resource.h"

VS_VERSION_INFO VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Computer Workshop, a Software Development Co.\0"
      VALUE "FileDescription",  "EZGUI database engine\0"
      VALUE "FileVersion",      "5.0\0"
      VALUE "InternalName",     "ezgui5bt.dll\0"
      VALUE "OriginalFilename", "ezgui5bt.dll\0"
      VALUE "LegalCopyright",   "© 2011 Christoper R. Boss-All rights reserved\0"
      VALUE "LegalTrademarks",  "EZGUI is an Unregistered Trademark\0"
      VALUE "ProductName",      "EZGUI Btree Engine\0"
      VALUE "ProductVersion",   "5.0\0"
    END
  END
END
