/* ------------------------------------------------------------------ */
/*  You may need to add the path below for the resource.h file        */
/*  or simply copy it to the same folder as this RC file.             */
/* ------------------------------------------------------------------ */

#include "c:\pbdll61\winapi\resource.h"

/* ------------------------------------------------------------------ */
/*            Optional - Company Information Block                    */
/*   Each data field is limited in size. See API docs.                */
/* ------------------------------------------------------------------ */

VS_VERSION_INFO VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Your Company Name\0"
      VALUE "FileDescription",  "Your Image Library\0"
      VALUE "FileVersion",      "1.0\0"
      VALUE "InternalName",     "myimglib\0"
      VALUE "OriginalFilename", "myimglib.dll\0"
      VALUE "LegalCopyright",   "© 2001 John Doe, All Rights Reserved\0"
      VALUE "LegalTrademarks",  "None\0"
      VALUE "ProductName",      "Your Image Library\0"
      VALUE "ProductVersion",   "1.0\0"
    END
  END
END
/* ------------------------------------------------------------------ */
/*   You can use any names for the Resources below.                   */
/*   The examples below are the resources found in the default        */
/*   Image Library.                                                   */
/* ------------------------------------------------------------------ */
EZMTOOLBAR               BITMAP   DISCARDABLE     "toolbarm.bmp"
EZCTOOLBAR               BITMAP   DISCARDABLE     "toolbarc.bmp"

/* ------------------------------------------------------------------ */
/*   You can use any names for the Resources below.                   */
/*   Here are examples of adding Icons , Cursors and Bitmaps          */
/*   to your Image Library.  (remove remark brackets)                                         */
/* ------------------------------------------------------------------ */

/* MY_CURSOR1                 CURSOR    DISCARDABLE     "cursor1.cur" */
/* MY_CURSOR2                 CURSOR    DISCARDABLE     "cursor2.cur" */
/* MY_ICON1                   ICON      DISCARDABLE     "icon1.ico"   */
/* MY_ICON2                   ICON      DISCARDABLE     "icon2.ico"   */
/* MY_BITMAP1                 BITMAP    DISCARDABLE     "bitmap1.bmp" */
/* MY_BITMAP2                 BITMAP    DISCARDABLE     "bitmap2.bmp" */

/* ------------------------------------------------------------------ */
/*   The Resources below are the same names used in the               */
/*   Default Image Library (ezimglib.dll).                            */
/* ------------------------------------------------------------------ */

/*   EZGUI Toolbars                                                   */
EZMTOOLBAR               BITMAP   DISCARDABLE     "toolbar1.bmp"
EZCTOOLBAR               BITMAP   DISCARDABLE     "toolbar3.bmp"
/*   EZGUI MessageBox Icons                                           */
2000                     ICON     DISCARDABLE     "stop.ico"
2001                     ICON     DISCARDABLE     "stophand.ico"
2002                     ICON     DISCARDABLE     "yield.ico"
2003                     ICON     DISCARDABLE     "go.ico"
2004                     ICON     DISCARDABLE     "sunset.ico"
2005                     ICON     DISCARDABLE     "mountain.ico"
2006                     ICON     DISCARDABLE     "info2.ico"
2007                     ICON     DISCARDABLE     "pointer.ico"
2008                     ICON     DISCARDABLE     "glass.ico"
2009                     ICON     DISCARDABLE     "light.ico"

EZSTOP2                  ICON     DISCARDABLE     "stop2.ico"
EZQMARK                  ICON     DISCARDABLE     "qmark.ico"
EZINFO                   ICON     DISCARDABLE     "info.ico"
EZEZ                     ICON     DISCARDABLE     "ez.ico"

EZSTOP1                  ICON     DISCARDABLE     "stop.ico"
EZSTOPH                  ICON     DISCARDABLE     "stophand.ico"
EZYIELD                  ICON     DISCARDABLE     "yield.ico"
EZGO                     ICON     DISCARDABLE     "go.ico"
EZSUNSET                 ICON     DISCARDABLE     "sunset.ico"
EZMTN                    ICON     DISCARDABLE     "mountain.ico"
EZINFO2                  ICON     DISCARDABLE     "info2.ico"
EZPTR                    ICON     DISCARDABLE     "pointer.ico"
EZGLASS                  ICON     DISCARDABLE     "glass.ico"
EZLIGHT                  ICON     DISCARDABLE     "light.ico"
