/* ------------------------------------------------------------------ */
/*  You may need to add the path below for the resource.h file        */
/*  or simply copy it to the same folder as this RC file.             */
/* ------------------------------------------------------------------ */
#include "c:\pbdll61\winapi\resource.h"
/* ------------------------------------------------------------------ */
/*            Optional - Company Information Block                    */
/*   Each data field is limited in size. See API docs.                */
/* ------------------------------------------------------------------ */
VS_VERSION_INFO VERSIONINFO
FILEVERSION 4,9,9,9
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Computer Workshop\0"
      VALUE "FileDescription",  "EZGUI 5.0 GLCanvas Control\0"
      VALUE "FileVersion",      "4.999\0"
      VALUE "InternalName",     "EZGUI 5.0 GLCanvas Control\0"
      VALUE "OriginalFilename", "ezgui5gl.dll\0"
      VALUE "LegalCopyright",   "© 2011 Christopher R. Boss, All Rights Reserved\0"
      VALUE "LegalTrademarks",  "EZGUI\0"
      VALUE "ProductName",      "EZGUI 5.0 GLCanvas Control\0"
      VALUE "ProductVersion",   "4.999\0"
    END
  END
END

/* ------------------------------------------------------------------ */
/*       56 EZGUI Patterns accessed by EZ_Color command               */
/*       Images must be BMP format !                                  */
/*       They also must 8 X 8 pixels in Windows 95 !                  */
/*       EZGUI numbers the patterns starting from -57 to -2           */
/*                                                                    */
/*    Do NOT change the Resource Names ! (ie. EZ_TEXTURE1, EZ_TEXTURE2)   */
/*    The Bitmap filenames can be user defined (ie. "textur1.bmp")     */
/* ------------------------------------------------------------------ */
EZ_TEXTURE1                BITMAP    DISCARDABLE     "textur1.bmp"
EZ_TEXTURE2                BITMAP    DISCARDABLE     "textur2.bmp"
EZ_TEXTURE3                BITMAP    DISCARDABLE     "textur3.bmp"
EZ_TEXTURE4                BITMAP    DISCARDABLE     "textur4.bmp"
EZ_TEXTURE5                BITMAP    DISCARDABLE     "textur5b.bmp"
EZ_TEXTURE6                BITMAP    DISCARDABLE     "textur6b.bmp"
EZ_TEXTURE7                BITMAP    DISCARDABLE     "textur7b.bmp"
EZ_TEXTURE8                BITMAP    DISCARDABLE     "textur8b.bmp"
EZ_TEXTURE9                BITMAP    DISCARDABLE     "tbig01.bmp"
EZ_TEXTURE10                BITMAP    DISCARDABLE     "tbig02.bmp"
EZ_TEXTURE11                BITMAP    DISCARDABLE     "tbig03.bmp"
EZ_TEXTURE12                BITMAP    DISCARDABLE     "tbig04.bmp"
EZ_TEXTURE13                BITMAP    DISCARDABLE     "tbig05.bmp"
EZ_TEXTURE14                BITMAP    DISCARDABLE     "tbig75.bmp"
EZ_TEXTURE15                BITMAP    DISCARDABLE     "tbig76.bmp"
EZ_TEXTURE16                BITMAP    DISCARDABLE     "tbig77.bmp"
/* ------------------------------------------------------------------ */
