#include "c:\pbdll60\winapi\resource.h"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 4,0,8,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Computer Workshop, a Software Development Co.\0"
      VALUE "FileDescription",  "EZGUI 5.1 Professional\0"
      VALUE "FileVersion",      "5.11\0"
      VALUE "InternalName",     "ezgui50\0"
      VALUE "OriginalFilename", "ezgui50.dll\0"
      VALUE "LegalCopyright",   "© 2013 Christopher R. Boss All Rights Reserved\0"
      VALUE "LegalTrademarks",  "EZGUI, unregistered Trademark\0"
      VALUE "ProductName",      "EZGUI 5.1 Professional\0"
      VALUE "ProductVersion",   "5.11\0"
    END
  END
END

CUR_MOVE                 CURSOR    DISCARDABLE     "hand.cur"
CUR_PHAND                CURSOR    DISCARDABLE     "phand.cur"
CUR_LIGHT                CURSOR    DISCARDABLE     "light.cur"
CUR_MOVE2                CURSOR    DISCARDABLE     "move.cur"
CUR_BOX                  CURSOR    DISCARDABLE     "box.cur"
CUR_DRAG                 CURSOR    DISCARDABLE     "drag1.cur"
CUR_CHAIR1               CURSOR    DISCARDABLE     "crshair1.cur"

1000                      ICON     DISCARDABLE     "stop2.ico"
1001                      ICON     DISCARDABLE     "qmark.ico"
1002                      ICON     DISCARDABLE     "info.ico"
1003                      ICON     DISCARDABLE     "ez.ico"
